package ${cfg.ServicePackage};

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.qlchat.mybatis.util.IdGeneratorUtil;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import com.qlchat.bbs.util.DTOUtil;
import com.qlchat.bbs.util.EmptyUtil;
import ${cfg.VOPackage}.${table.entityName}VO;
import ${cfg.DTOPackage}.${table.entityName}DTO;
import com.qlchat.component.web.support.PageRes;

import java.time.LocalDateTime;
import java.util.List;

/**
 * $!{table.comment}Service
 *
 * @author ${author}
 * @date ${date}
 * @see <a href=""></a>
 **/
public interface ${table.entityName}Service {


    /**
     * 分页查询
     * @param dto dto
     * @return  结果
     */
    PageRes<${entity}VO> page(${table.entityName}DTO dto);

    /**
     * 保存
     * @param dto dto
     * @return 结果
     */
    boolean save(${entity}DTO dto);

    /**
    * 删除
    *
    * @param id id
    * @param operator   操作
    * @return 结果
    */
    boolean delete(Long id, Long operator);
}
